<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="login-container">
        <h1>Welcome back</h1>
        <p>Please enter your details</p>

        <form action="/login" method="post">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required /><br><br>

            <label>Password</label>
            <input type="password" name="password" placeholder="********" required /><br><br>

            <div class="options">
                <label>
                    <input type="checkbox">Remember me
                </label>
                <a href="#">Forgot password</a>
            </div>

            <button type="submit" class="btn-login">Sign in</button>
        </form>

        <p>
            Don't have an account?
            <a th:href="@{/register}">Sign up for free</a>
        </p>
    </div>

</body>

</html>